:root{
	--font_main: verdana;
 	--color_main: floralWhite;
	--color_dimmed:rgba(255, 250, 240, .5);	
	--color_destaque:white;
	--link: lightskyblue;
	--patronus_core:white;
	--patronus_out: dodgerblue; /*dodgerblue ficou bom*/
	--patronus_in:silver;
}
#nav{
	background-color: black;
	height: 50px;
	width: auto;
	display:flex; align-items:center;
	justify-content:center;
}

#nav>ul{
	background-color:transparent;
	height: 50%;
	width: 95%;
	padding:0;
	list-style-type: none; /*remove os pontos da lista*/
	display:flex;
	justify-content: space-between;

}

#nav>ul>li{
	height:100%;
	background-color:transparent;
	position:relative;
	display:flex;
	align-items:center;
}

#nav>ul>li>a{
	height:100%;
	background-color: transparent;
	position:relative;
	font-size: 20px;
	font-family:arial;
	/* font-weight: 100; */
	color:var(--color_main);
	padding: 0px 10px!important;
	display:flex;
	align-items: center;
	/* z-index:1; */
	transition: all 1s, outline 0s;
}

#nav>ul>li:before{ /*segmentos que se estendem AQUI ESTA O PROBLEMA*/
	display:block;
	position:absolute;
	content:"";
	top:0;
	bottom:0;
	height:auto;
	width:auto;
	left: 50%;
	right: 50%;
	border-top: 1px solid var(--patronus_core);
	border-bottom: 1px solid var(--patronus_core);
	transition: all 1s;
}
#nav>ul>li:after{ /*segmentos que se estendem*/
	display:block;
	position:absolute;
	content:"";
	top:50%;
	bottom:50%;
	height:auto;
	width:auto;
	left: 0;
	right: 0;
	border-left: 1px solid var(--patronus_core);
	border-right: 1px solid var(--patronus_core);
	transition: all 1s;
}
#nav li a:before{ /*segmentos que completam*/
	display:block;
	content: "";
  	position: absolute;
  	top:50%;
  	bottom:50%;
  	left: -2px;
  	right:-2px;
  	height: auto;
  	width: auto;
  	border-left: 1px solid var(--patronus_core);
  	border-right: 1px solid var(--patronus_core);
  	transition: all 1s; 
}	
#nav li a:after{ /*segmentos que completam*/
	content:"";
	position: absolute;
	display:block;
	top: -2px;
	bottom: -2px;
	left:50%;
	right:50%;
	height:auto;
	width:auto;
	border-top: 1px solid var(--patronus_core);
	border-bottom: 1px solid var(--patronus_core);
	transition: all 1s;
}
/*HOVERS-------------------------------*/

#nav:hover > ul>li:after{
	top: -2px;
	bottom: -2px;
	
	box-shadow: inset 0px 0px 7px 0px var(--patronus_in), 0px 0px 7px 0px var(--patronus_out);
	transition: all 1s;
}
#nav:hover > ul>li:before{
	left:-2px;
	right:-2px;
	
	box-shadow: inset 0px 0px 7px 0px var(--patronus_in), 0px 0px 7px 0px var(--patronus_out);
	transition: all 1s;
}


#nav:hover>ul>li a:after{ /*segmentos que completam*/
	left: 0%;
	right: 0%;
	
	transition: all 1s;
}

#nav:hover>ul>li a:before{
	top: 0%;
	bottom: 0%;
	
	transition: all 1s;
}
/*---------- Selecao de um item ---------------------------------------*/

#nav ul>li:hover:after{
	top:50%;
	bottom:50%;
	box-shadow: inset 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
	transition: all 1s;
}
#nav ul>li:hover:before{
	left:50%;
	right:50%;
	box-shadow: inset 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
	transition: all 1s;
}
#nav ul>li:hover > a:before{
	top:50%;
	bottom:50%;
	transition: all 1s;
}
#nav ul>li:hover > a:after{
	left:50%;
	right:50%;
	transition: all 1s;
}

#nav ul>li:hover > a{
	outline: black solid 1px;
	background: var(--patronus_core);
	color:black!important;
	transition: all 1s;
}